.Rproj.user/
.Rhistory/

DataIn/SRinputfile.csv
R/IWAMarchived_model.R
.Rhistory
DataIn/SBC CN SR info for Benchmark Calculations_24Jul19_watersheds.xlsx
DataIn/Stad Chinook Accessible Watershed Area for WCVI systems 2021.xlsx
DataIn/WA_master_TK_021924 +ch.xlsx
DataIn/WA_master_TK_021924.xlsx
DataIn/~$SBC CN SR info for Benchmark Calculations_24Jul19_watersheds.xlsx
DataIn/~$WA_master_TK_021924.xlsx
R/SummaryStats.R
DataIn/~$Stad Chinook Accessible Watershed Area for WCVI systems 2021.xlsx
DataIn/WA_master_TK_022324.xlsx
DataIn/WA_WashingtonStreamsList.xlsx
DataIn/lux_torkitchingxllidandwatershed.xls
MCMCtrace.pdf
MCMCtrace.pdf
R/tmbstan_vignetteexample.R
DataOut/ACF_rtmb_IWAM_Liermann.png
DataOut/SR_rtmb_IWAM_Liermann.png
DataOut/SRLin_rtmb_IWAM_Liermann.png
DataOut/StdResid_rtmb_IWAM_Liermann.png
DataOut/WAregSMSY_rtmb_IWAM_Liermann_wBC.png
DataOut/WAregSREP_rtmb_IWAM_Liermann_wBC.png
DataOut/rtmb_dataout_target_wEnh.csv
DataIn/SRinputfile_dfocomp.csv
DataIn/SRinputfile_updateTK.csv
DataOut/ACF_rtmbsmax_IWAM_Liermann.png
DataOut/rtmbsmax_getLRP-BootstrappedRPs.csv
DataOut/SR_rtmbsmax_IWAM_Liermann.png
DataOut/SRLin_rtmbsmax_IWAM_Liermann.png
DataOut/StdResid_rtmbsmax_IWAM_Liermann.png
DataOut/WAregSMSY_rtmbsmax_IWAM_Liermann_wBC.png
DataOut/WAregSREP_rtmbsmax_IWAM_Liermann_wBC.png
Reports/SEP_BackCalcRefPoints.html
Reports/SEP_BackCalcRefPoints.Rmd
TMB_Files/lambert.cpp
TMB_Files/lambert.dll
TMB_Files/lambert.o
DataOut/ACF_IWAM_Liermann.png
DataOut/SR_IWAM_Liermann.png
DataOut/SRLin_IWAM_Liermann.png
DataOut/StdResid_IWAM_Liermann.png
DataOut/WAregSMSY_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_IWAM_Liermann_wBC.png
DataOut/WAregSREP_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.001_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.01_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_0.01_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_0.1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSREP_richalfnorm_wagamma_IWAM_Liermann_wBC.png
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
TMB_Files/Liermann_PriorRicSig_PriorDeltaSig.cpp
R/IWAM_comparisontesting.R
DataOut/pars_riccauchy_0.1_wagamma_1_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.001_wagamma_1_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.01_wagamma_1_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.1_wagamma_0.01_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.1_wagamma_0.1_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.1_wagamma_1_wagamma_IWAM_Liermann
DataOut/pars_ricgamma_0.1_wagamma_1_wagamma_IWAM_Liermann_srep
DataOut/pars_ricgamma_wacauchy_IWAM_Liermann
DataOut/pars_ricgamma_wahalfnorm_IWAM_Liermann
DataOut/pars_richalfnorm_0.1_wagamma_1_wagamma_IWAM_Liermann
DataOut/WAregSREP_riccauchy_0.1_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_richalfnorm_0.1_wagamma_1_wagamma_IWAM_Liermann_wBC.png
TMB_Files/IWAM_Liermann_srep.cpp
TMB_Files/IWAM_Liermann_srep.dll
TMB_Files/IWAM_Liermann_srep.o
TMB_Files/Ricker.cpp
DataIn/WCVIStocks_NanPunt.csv
DataIn/ParkenSREP.csv
DataIn/ParkenSMSY.csv
DataIn/ParkenRicSig.csv
DataOut/ WCVI_NanPunt _getLRP-BootstrappedRPs.csv
DataOut/ACF_default_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_IWAM_FixedEffects.png
DataOut/ACF_target_IWAM_Liermann.png
DataOut/ACF_target_riccauchy_wagamma_IWAM_Liermann.png
DataOut/ACF_target_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_target_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/ACF_techreport_riccauchy_wagamma_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects.png
DataOut/ACF_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_wacauchy_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_wahalfnorm_IWAM_Liermann.png
DataOut/ACF_techreport_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/ACF_WCVI_NanPunt_IWAM_Liermann.png
DataOut/default_dataout_target_ocean_wEnh.csv
DataOut/default_getLRP-BootstrappedRPs.csv
DataOut/Draft_dataout_target_wEnh.csv
DataOut/Draft_getLRP-BootstrappedRPs.csv
DataOut/NanPunt_WA_BootSBenchmarksEsts_20240912.xlsx
DataOut/pars_default_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_Draft_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_ricgamma_0.1_wagamma_1_IWAM_FixedEffects
DataOut/pars_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_target_riccauchy_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_target_riccauchy_wagamma_IWAM_Liermann
DataOut/pars_target_ricgamma_0.1_wagamma_0.01_IWAM_Liermann
DataOut/pars_target_ricgamma_0.1_wagamma_0.1_IWAM_Liermann
DataOut/pars_target_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_target_richalfnorm_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_target_richalfnorm_wagamma_IWAM_Liermann
DataOut/pars_techreport_riccauchy_wagamma_IWAM_Liermann
DataOut/pars_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann
DataOut/pars_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann
DataOut/pars_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann
DataOut/pars_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann
DataOut/pars_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects
DataOut/pars_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_techreport_ricgamma_wacauchy_IWAM_Liermann
DataOut/pars_techreport_ricgamma_wahalfnorm_IWAM_Liermann
DataOut/pars_techreport_richalfnorm_wagamma_IWAM_Liermann
DataOut/pars_WCVI_NanPunt_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/PDF_sigWA_wBC.png
DataOut/PSE_sigma.csv
DataOut/RicPriors_InvGamma.png
DataOut/SR_default_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_DraftBench_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_IWAM_FixedEffects.png
DataOut/SR_target_IWAM_Liermann.png
DataOut/SR_target_riccauchy_wagamma_IWAM_Liermann.png
DataOut/SR_target_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_target_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/SR_techreport_riccauchy_wagamma_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects.png
DataOut/SR_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_wacauchy_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_wahalfnorm_IWAM_Liermann.png
DataOut/SR_techreport_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/SR_WCVI_NanPunt_IWAM_Liermann.png
DataOut/SRLin_default_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_IWAM_FixedEffects.png
DataOut/SRLin_target_IWAM_Liermann.png
DataOut/SRLin_target_riccauchy_wagamma_IWAM_Liermann.png
DataOut/SRLin_target_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_target_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/SRLin_techreport_riccauchy_wagamma_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects.png
DataOut/SRLin_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_wacauchy_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_wahalfnorm_IWAM_Liermann.png
DataOut/SRLin_techreport_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/SRLin_WCVI_NanPunt_IWAM_Liermann.png
DataOut/StdResid_default_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_IWAM_FixedEffects.png
DataOut/StdResid_target_IWAM_Liermann.png
DataOut/StdResid_target_riccauchy_wagamma_IWAM_Liermann.png
DataOut/StdResid_target_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_target_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/StdResid_techreport_riccauchy_wagamma_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects.png
DataOut/StdResid_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_wacauchy_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_wahalfnorm_IWAM_Liermann.png
DataOut/StdResid_techreport_richalfnorm_wagamma_IWAM_Liermann.png
DataOut/StdResid_WCVI_NanPunt_IWAM_Liermann.png
DataOut/WAregSMSY_default_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_riccauchy_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_ricgamma_0.1_wagamma_0.01_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_ricgamma_0.1_wagamma_0.1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_richalfnorm_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_target_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_WCVI_NanPunt_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_default_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_1_IWAM_FixedEffects_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_riccauchy_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_ricgamma_0.1_wagamma_0.01_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_ricgamma_0.1_wagamma_0.1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_richalfnorm_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_WCVI_NanPunt_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/TableofEstimates_kable_IWAM.csv
DataOut/target_dataout_target_ocean_wEnh.csv
DataOut/target_getLRP-BootstrappedRPs.csv
DataOut/techreport_dataout_target_ocean_wEnh.csv
DataOut/techreport_getLRP-BootstrappedRPs.csv
DataOut/WCVI_NanPunt_dataout_target_ocean_wEnh.csv
DataOut/WCVI_NanPunt_getLRP-BootstrappedRPs.csv
Reports/SEP_DraftBenchmarks_20241010.html
Reports/SEP_DraftBenchmarks_20241010.Rmd
Reports/TableofEstimates_kable_SEPdraftbenchmarks.csv
DataOut/ACF_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/eval_dataout_target_ocean_wEnh.csv
DataOut/eval_getLRP-BootstrappedRPs.csv
DataOut/pars_eval_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/SR_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/WAregSMSY_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ptest_ricgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.001_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.01_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.1_wagamma_0.01_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.1_wagamma_0.1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects_wBC.png
DataOut/WAregSREP_techreport_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/ptest_dataout_target_ocean_wEnh.csv
DataOut/ptest_getLRP-BootstrappedRPs.csv
DataOut/pars_techreport_ricgamma_0.1_wagamma_1_IWAM_FixedEffects_WAreg
DataOut/ACF_newpenalties_NANAIWAM_Liermann.png
DataOut/ACF_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/ACF_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann.png
DataOut/ACF_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann.png
DataOut/ACF_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/ACF_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/ACF_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/newpenalties_dataout_target_ocean_wEnh.csv
DataOut/newpenalties_getLRP-BootstrappedRPs.csv
DataOut/newpenalty_original_dataout_target_ocean_wEnh.csv
DataOut/newpenalty_original_getLRP-BootstrappedRPs.csv
DataOut/pars_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann
DataOut/pars_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann
DataOut/pars_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann
DataOut/pars_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann
DataOut/pars_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann
DataOut/pars_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann
DataOut/SR_newpenalties_NANAIWAM_Liermann.png
DataOut/SR_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/SR_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann.png
DataOut/SR_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann.png
DataOut/SR_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/SR_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/SR_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/SRLin_newpenalties_NANAIWAM_Liermann.png
DataOut/SRLin_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/SRLin_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann.png
DataOut/SRLin_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann.png
DataOut/SRLin_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/SRLin_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/SRLin_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/StdResid_newpenalties_NANAIWAM_Liermann.png
DataOut/StdResid_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/StdResid_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann.png
DataOut/StdResid_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann.png
DataOut/StdResid_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/StdResid_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/StdResid_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann.png
DataOut/WAregSMSY_newpenalties_NANAIWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalties_ricgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalty_original_ricaltgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalty_original_ricaltgamma_wagammajac_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalty_original_ricaltgamma_wagammaprec_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalty_original_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_newpenalty_original_ricinvgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/WAregSREP_techreport_ricgamma_7.5_wagamma_3_IWAM_Liermann_wBC.png
DataOut/ACF_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static.png
DataOut/ACF_test_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/pars_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static
DataOut/pars_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/pars_test_ricaltgamma_wagammaprec_IWAM_Liermann
DataOut/rtmb_dataout_target_ocean_wEnh.csv
DataOut/SR_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static.png
DataOut/SR_test_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/SRLin_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static.png
DataOut/SRLin_test_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/static_ver_dataout_target_ocean_wEnh.csv
DataOut/static_ver_getLRP-BootstrappedRPs.csv
DataOut/StdResid_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static.png
DataOut/StdResid_test_ricaltgamma_wagammaprec_IWAM_Liermann.png
DataOut/test_dataout_target_ocean_wEnh.csv
DataOut/test_getLRP-BootstrappedRPs.csv
DataOut/WAregSMSY_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static_wBC.png
DataOut/WAregSMSY_test_ricaltgamma_wagammaprec_IWAM_Liermann_wBC.png
DataOut/WAregSREP_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_static_ver_ricinvgamma_0.1_wagamma_1_IWAM_static_wBC.png
DataOut/WAregSREP_test_ricaltgamma_wagammaprec_IWAM_Liermann_wBC.png
DataOut/rtmb_dataout_target_ocean_wEnh.csv
DataOut/rtmb_dataout_target_ocean_wEnh.csv
R/derived_post2.R
R/PosteriorPredictiveSample.r
DataOut/ACF_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/ACF_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/pars_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann
DataOut/SR_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SR_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/SRLin_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/StdResid_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann.png
DataOut/WAregSMSY_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_target_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WAregSREP_WCVI_NanPunt_test_ricinvgamma_0.1_wagamma_1_IWAM_Liermann_wBC.png
DataOut/WCVI_NanPunt_test_dataout_target_ocean_noEnh.csv
DataOut/WCVI_NanPunt_test_dataout_target_ocean_wEnh.csv
DataOut/WCVI_NanPunt_test_getLRP-BootstrappedRPs.csv
DataOut/WCVI_NanPunt_getLRP-BootstrappedRPs_SAVE.csv
