.Rproj.user/
.Rhistory/

DataIn/SRinputfile.csv
R/IWAMarchived_model.R
.Rhistory
DataIn/SBC CN SR info for Benchmark Calculations_24Jul19_watersheds.xlsx
DataIn/Stad Chinook Accessible Watershed Area for WCVI systems 2021.xlsx
DataIn/WA_master_TK_021924 +ch.xlsx
DataIn/WA_master_TK_021924.xlsx
DataIn/~$SBC CN SR info for Benchmark Calculations_24Jul19_watersheds.xlsx
DataIn/~$WA_master_TK_021924.xlsx
R/SummaryStats.R
DataIn/~$Stad Chinook Accessible Watershed Area for WCVI systems 2021.xlsx
DataIn/WA_master_TK_022324.xlsx
DataIn/WA_WashingtonStreamsList.xlsx
DataIn/lux_torkitchingxllidandwatershed.xls
MCMCtrace.pdf
MCMCtrace.pdf
R/tmbstan_vignetteexample.R
DataOut/ACF_rtmb_IWAM_Liermann.png
DataOut/SR_rtmb_IWAM_Liermann.png
DataOut/SRLin_rtmb_IWAM_Liermann.png
DataOut/StdResid_rtmb_IWAM_Liermann.png
DataOut/WAregSMSY_rtmb_IWAM_Liermann_wBC.png
DataOut/WAregSREP_rtmb_IWAM_Liermann_wBC.png
DataOut/rtmb_dataout_target_wEnh.csv
DataIn/SRinputfile_dfocomp.csv
DataIn/SRinputfile_updateTK.csv
DataOut/ACF_rtmbsmax_IWAM_Liermann.png
DataOut/rtmbsmax_getLRP-BootstrappedRPs.csv
DataOut/SR_rtmbsmax_IWAM_Liermann.png
DataOut/SRLin_rtmbsmax_IWAM_Liermann.png
DataOut/StdResid_rtmbsmax_IWAM_Liermann.png
DataOut/WAregSMSY_rtmbsmax_IWAM_Liermann_wBC.png
DataOut/WAregSREP_rtmbsmax_IWAM_Liermann_wBC.png
Reports/SEP_BackCalcRefPoints.html
Reports/SEP_BackCalcRefPoints.Rmd
TMB_Files/lambert.cpp
TMB_Files/lambert.dll
TMB_Files/lambert.o
DataOut/ACF_IWAM_Liermann.png
DataOut/SR_IWAM_Liermann.png
DataOut/SRLin_IWAM_Liermann.png
DataOut/StdResid_IWAM_Liermann.png
DataOut/WAregSMSY_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSMSY_richalfnorm_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_IWAM_Liermann_wBC.png
DataOut/WAregSREP_riccauchy_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.001_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.01_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_0.01_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_0.1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_0.1_wagamma_1_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wacauchy_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wagamma_IWAM_Liermann_wBC.png
DataOut/WAregSREP_ricgamma_wahalfnorm_IWAM_Liermann_wBC.png
DataOut/WAregSREP_richalfnorm_wagamma_IWAM_Liermann_wBC.png
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
R/IWAM_comparisontesting.R
TMB_Files/Liermann_PriorRicSig_PriorDeltaSig.cpp
R/IWAM_comparisontesting.R
